@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);

body{
  color: #ddd;
  background-color: #444;
  border-top: 5px solid #FC0;
}

pre {
  color: #DDD;
  background-color: #2b2b2b;
  border: none;
}

.sidebar {
  position: fixed;
  top: 0px;
  padding-top: 10%;
  background-color: #333;
  border-top: 5px solid #FC0;
  color: #fc0;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-header .title{
  letter-spacing: 3px;
  text-transform: uppercase;
}

.sidebar-header .title a{
  text-decoration: none;
  color: #fc0;
}

a {
  color: #fc0;
  text-decoration: none;
  transition: all 0.25s ease 0s;
}

a:hover {
  color:#f90
}

a.nav-link {
  padding-bottom: 5px;
  padding-top: 7px;
  color: #aaa;
}

a.nav-link i{
  font-size: 16px;
}

a.nav-link:hover { color: #777 }

#bio {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

#contact-list li:hover .fa-twitter,
a#twitter.nav-link:hover,
article .share .twitter:hover {
  color: #00ACEE;
  border-color: #00ACEE;
}

#contact-list li:hover .fa-linkedin {
  color: #1D87BD;
}

#contact-list li:hover .fa-envelope,
a#mail.nav-link:hover {
  color: #E93E30;
  border-color: #E93E30;
}

#contact-list li:hover .fa-pinterest {
  color: #CC2127;
}

#contact-list li:hover .fa-rss {
  color: #e74c3c;
}

article .share .facebook:hover {
  color: #43609C;
  border-color: #43609C;
}

article .share .gplus:hover {
  color: #C13929;
  border-color: #C13929;
}

#contact-list-secondary {
  padding-bottom: 10px;
}

.page-header {
  color: #ddd;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

article {
  margin-bottom: 40px;
}

.article_body{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
}

article {
  padding: 0 5% 0;
}

article div a, article pre a { color: #fc0; }
article div a:hover, article pre a:hover { color: #f90; text-decoration: none; }
article img { max-width: 100%; }
h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif; }

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: 'Ubuntu', sans-serif;
  color: #ddd;
}

article h1 a,
article h2 a,
article h3 a,
article h4 a {
  color: #ddd;
}

article h1 a:hover,
article h2 a:hover,
article h3 a:hover,
article h4 a:hover {
  color: #f90;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

/* image caption */
.thumbnail.with-caption {
  display: inline-block;
  background-color:#2b2b2b; color:#fff;
  border: 1px solid #2b2b2b;
}

.thumbnail.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}

.thumbnail.with-caption small:before {
  content: '\2014 \00A0';
}

.thumbnail.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

footer {
  padding-top: 15px;
  font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
  border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
  margin-right: -1px;
}

.nav-tabs-vertical>li.active>a,
.nav-tabs-vertical>li.active>a:hover,
.nav-tabs-vertical>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fc0;
  border: 1px solid #ddd;
  border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
}

.badge { background: #ddd; }

#nav-menu{
  position: fixed;
  top: 45px;
  right: 45px;
  z-index: 2000;
}

#nav-menu .dropdown-menu {
  left: inherit;
  right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
  width: 1.3em;
}
